* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  @font-face {
    font-family: 'Ageo Bold';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/ageo-heavy.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Ageo Regular';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/ageo-regular.woff2') format('woff2');
  }
  
  
  body {
    font-family: 'Ageo Regular', sans-serif;
    line-height: 1.5;
  }
  
  a {
      text-decoration: none;
      color: inherit;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  
  .header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    padding: 0 45px;
    z-index: 20;
    
    button {
      border: none;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      cursor: pointer;
    }
  }
  .header >h1{
      font-size: 24px;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    outline: none;
  }
  
  .hamburger span {
    display: inline-block;
    height: 2px;
    width: 30px;
    background-color: #000;
    margin-bottom: 10px;
    transition: 0.3s ease transform;
  }
  
  .hamburger__open span:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .hamburger__open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger__open span:nth-child(3) {
    transform: rotate(45deg) translate(-11px, -8px);
    color: #ffffff;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    height: 0%;
    width: 100%;
    background-color: rgba(160, 169, 169, 0.9);
    z-index: 9;
  }
  
  .nav__extra-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: hsla(162, 71%, 74%, 0.7);
    z-index: 2;
  }
  
  .nav__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1140px;
    height: 100%;
    min-height: 100vh;
    padding: 120px 0;
    margin: 0 auto;
    color: hsl(210, 37%, 96%);
  }
  
  .nav__right {
    max-width: 300px;
    text-align: right;
    padding-right: 45px;
  }
  
  .nav__links {
    font-size: 50px;
    font-family: 'Ageo Bold';
    line-height: 1;
    margin-bottom: 30px;
  }
  
  .nav__links a {
    display: block;
  }
  
  .nav__links a:not(:last-child) {
    margin-bottom: 32px;
  }
  
  .nav__links a:hover {
    color: hsl(162, 72%, 74%);
  }
  
  .nav__text h3 {
    font-family: 'Ageo Bold';
  }
  
  .nav__locations {
    display: flex;
    align-items: center;
  }
  
  .nav__locations p:not(:last-child) {
    margin-right: 24px;
  }
  
  .nav__locations p:not(:first-child) {
    text-decoration: underline;
  }
  
  .nav__locations :first-child {
    font-family: 'Ageo Bold';
  }
  
  .main{
    padding-top: 65px;
    height: 1000px;
    background-color: #ffffff;
  }

  