* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  @font-face {
    font-family: 'Ageo Bold';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/ageo-heavy.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Ageo Regular';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/ageo-regular.woff2') format('woff2');
  }
  
  
  body {
    font-family: 'Ageo Regular', sans-serif;
    line-height: 1.5;
  }
  
  a {
      text-decoration: none;
      color: inherit;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    padding: 0 45px;
    z-index: 20;
    
    button {
      border: none;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      cursor: pointer;
    }
  }
  .header >h1{
      font-size: 24px;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    outline: none;
  }
  
  .hamburger span {
    display: inline-block;
    height: 2px;
    width: 30px;
    background-color: #000;
    margin-bottom: 10px;
    transition: 0.3s ease transform;
  }
  
  .hamburger__open span:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .hamburger__open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger__open span:nth-child(3) {
    transform: rotate(45deg) translate(-11px, -8px);
    color: #ffffff;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    height: 0%;
    width: 100%;
    background-color: rgba(160, 169, 169, 0.9);
    z-index: 9;
  }
  
  .nav__extra-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: hsla(162, 71%, 74%, 0.7);
    z-index: 2;
  }
  
  .nav__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1140px;
    height: 100%;
    min-height: 100vh;
    padding: 120px 0;
    margin: 0 auto;
    color: hsl(210, 37%, 96%);
  }
  
  .nav__right {
    max-width: 300px;
    text-align: right;
    padding-right: 45px;
  }
  
  .nav__links {
    font-size: 50px;
    font-family: 'Ageo Bold';
    line-height: 1;
    margin-bottom: 30px;
  }
  
  .nav__links a {
    display: block;
  }
  
  .nav__links a:not(:last-child) {
    margin-bottom: 32px;
  }
  
  .nav__links a:hover {
    color: hsl(162, 72%, 74%);
  }
  
  .nav__text h3 {
    font-family: 'Ageo Bold';
  }
  
  .nav__locations {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    color: #ffffff;
  }
  
  .nav__locations > i {
    margin-left: 24px;
  }
  
  .main{
    padding-top: 65px;
    height: 1000px;
    background-color: #ffffff;
  }

  #originalDiv {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
  }

  #newDiv {
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
    position: absolute;
    top: 100vh; /* 기존 div 아래에 위치 */
    opacity: 0; /* 처음에는 투명하게 설정 */
  }


  
  .blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
  }
  
  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
    }
  }
  
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
    }
  }
  
  .blog-slider__item {
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .blog-slider__item {
      flex-direction: column;
    }
  
    .blog-slider__img {
      width: 90%;
      transform: translateY(-50%);
    }
  }
  
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
    }
  }
  
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
      height: 270px;
    }
  }
  
  .blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
  
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
      border-radius: 20px;
      opacity: 0.8;
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 0;
      border-radius: 20px;
      transition: all 0.3s;
    }
  
    @media screen and (max-width: 992px) {
      width: 45%;
    }
  
    @media screen and (max-width: 768px) {
      transform: translateY(-50%);
      width: 90%;
    }
  
    @media screen and (max-width: 576px) {
      width: 95%;
    }
  
    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 270px;
    }
  }
  
  .blog-slider__content {
    padding-right: 25px;
  
    @media screen and (max-width: 992px) {
      width: 55%;
    }
  
    @media screen and (max-width: 768px) {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }
  
    @media screen and (max-width: 576px) {
      padding: 0;
    }
  
    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all 0.4s;
    }
  }
  
  .blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }
  
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }
  
  .blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  
  .blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
  
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  
  .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left
  